.about{
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 18px;
    gap: 30px;
    font-weight: 500;
    text-align: start;

}
.resposter{

    filter: drop-shadow(0 0 10px red);
    width: 250px;
    height: 250px;


}
