.about{
    /* margin: 2%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    gap: 30px;
    font-weight: 500;

}
.avatarp{
    width: 250px;
    height: 250px;
    /* clip-path: circle(50% at 50% 50%); */
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);

    background-color: rgb(240, 240, 240);
}
