.btn1{
    background-color: rgb(155, 1, 1);
    color: white;
    border: none;
    margin-right: 10px;
    padding: 0 10px;
    font-size: 20px;
}
.btn2{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: solid 1px;
    margin-right: 10px;
    padding: 0 10px;
    font-size: 20px;

}
/* .image{
    filter: blur(4px);
}
.image:hover{
    filter: blur(0px);
    cursor: pointer;
} */
video{
    height: 350px;
}